<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2><i>If you can do this...the homework should be no problem.</i></h2>
    <table class="table table-striped">
        <tbody id="products">
        </tbody>
    </table>
    <div id="notes"></div>
</div>
{{!-- <h1>Enter a book into the library</h1>
<form action="/submit" method="post">
    <input type="text" name="product" placeholder="product">
    <input type="text" name="note" placeholder="note">
    <input type="submit">
</form> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="assets/js/app.js"></script>